.section-button-wrapper {
    display: flex;
}
.section-button-wrapper {
	display: flex;
	max-width: 300px;
	margin: 0 -7px;
	flex-wrap: wrap;
}
.section-button-wrapper > * {
	padding: 0 7px;
	width: 50%;
}
.section-button-wrapper .btn {
	width: 100%;
}
.btn {
	border: 2px solid rgba(255, 255, 255, 0.29);
    border-radius: 30px;
    padding: 11px 37px;
	background-color: transparent;
	display: inline-block;
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
	color: $white;
	text-align: center;
	transition: background-color 0.5s steps(4, jump-end),color 0.5s cubic-bezier(0.1, 0.7, 1, 0.1);
        &:hover {
            background-color: $primary-color;
            color: $text;
        }
        &-secondary {
            background-color: $primary-color;
            color: $text;
            padding: 11px 26px;
			&:hover {
				background-color: transparent;
				color: $white;
        	}
		}
        &-sm {
			font-size: 16px;
			line-height: 28px;
			color: $white;
			background-color: $text;
			border-radius: 30px;
			padding: 11px 32px;
        }
}