.footer {
    &-logo {
        &:hover {
            & svg path:not(.path-logo) {
                fill: $primary-color; 
            }
        }
            & svg path:not(.path-logo) {
                transition: all 0.5s;
            } 
    }
    &-center {
        display: flex;
        align-items: center;
        &-navigation {
            display: flex;
            width: 60%;
        }
        &-company {
            width: 40%;
        }
    }
}

