.subscribe-form {
    background-color: $white;
    padding: 97px 0 138px;
    @include media-down('980px') {
        padding: 80px 0;
    }
    @include media-down('680px') {
        padding: 30px 0 60px;
    }
    &-fill {
        @include media-down('720px') {
            flex-direction: column-reverse;
            display: flex;
        }
        @include media-down('590px') {
            display: flex;
        }
    }
    &-record {
        @include media-down('590px') {
            display: block;
        }
        .form {
            @include media-down('720px') {
                align-items: center;
            } 
        }
    }
    &-fill,
    &-description,
    &-record {
        display: flex;
        position: relative;
        z-index: 2;
        @media (max-width: 720px) and (min-width: 590px) {
            justify-content: center;
            align-items: center;
        }
        @include media-down('590px') {
            flex-direction: column-reverse;
        }
    }
    &-record {
        & form {
            display: flex;
            @media (max-width: 720px) and (min-width: 590px) {
                align-items: center;
            }
            @include media-down('590px') {
                display: block;
            }
        }
        p {
            line-height: 24px;
        }
        & input {
            padding: 12px 0 12px 22px;
            border: 1px solid $border;
            border-radius: 10px;
            margin-right: 15px;
            @include media-down('590px') {
                margin: 0 0 10px 0;
                text-align: center;
                padding: 10px 0;
                width: 100%;
            }
        }
    }
    &-left {
        flex: 1 1 60%;
        &-title {
            @include media-down('870px') {
                font-size: 16px;
            }
            @include media-down('680px') {
                font-size: 14px;
            }
            @include media-down('520px') {
                font-size: 13px;
            }
        }
        &-img {
            margin-right: 12px;
            @include media-down('480px') {
                max-width: 18px;
                margin-right: 5px;
            }
            &-title {
                font-weight: 600;
            }
        }
    }
    &-right {
        flex: 1 1 40%;
        &-img {
            position: absolute;
            z-index: 1;
            bottom: -120px;
            @include media-down('870px') {
                bottom: -40px;
            }
            @include media-down('720px') {
                position: static;
                max-width: 60%;
                margin: -140px auto 0;
            }
            @include media-down('620px') {
                margin: -80px auto 0;
            }
            @include media-down('420px') {
                max-width: 70%;
            }
        }
    }
    &-description {
        display: flex;
        margin-bottom: 24px;
        @include media-down('720px') {
            align-items: center;
            justify-content: center;
        }
        @include media-down('590px') {
            margin-top: 20px;
            flex-direction: inherit;
        }
    }
    &-control {
        width: 100%;
        & button {
            background-color: $secondary-color;
            border: 1px solid $border;
            border-radius: 10px;
            padding: 4px 6px;
            cursor: pointer;
            @include media-down('590px') {
                width: 100%;
            }
            &:hover {
                background-color: $background-hover;
                border-radius: 10px;
                overflow: hidden;
                & svg path {
                    fill: $secondary-color;
                }
            }
        }
        & svg {
            &:hover {
                & svg path {
                    fill: $secondary-color;
                }
            }
        }
    }
}
