* {
	box-sizing: border-box;
}
.container {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
	font-size: $base-size;
	color: $body;
	margin: 0;
    background-color: $background;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
	max-width: 100%;
    display: block;
}
p {
    font-weight: 400;
    font-size: $base-size;
    line-height: 24px;
    color: $body;
    margin: 0;
}
h1 {
    font-weight: 600;
	font-size: 49px;
	line-height: 65px;
	margin: 0;
    color: $white;
}
h2 {
    font-weight: 600;
	font-size: 34px;
	line-height: 41px;
	margin: 0;
    color: $text;
}
h3 {
    font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
    color: $text;
}
h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
	margin: 0;
    color: $text;
}
h5 {
    font-weight: 700;
	font-size: $base-size;
	line-height: 22px;
	margin: 0;
    color: $black;
}
.section {
    margin: 194px 0;
}