.header {
    background-color: $secondary-color;
    &-navigation {
        @include reset-list;
        display: flex;
        li {
            &:hover,
            &.active {
                a {
                    border-bottom: 5px solid $primary-color;
                    opacity: 1;
                    padding-bottom: 7px;
                }
            }
        }
        & a {
            color: $white;
            opacity: 0.5;
            display: flex;
        }
        & li {
            padding: 0 22px;
        }
    }
    &-navbar {
        display: flex;
        align-items: center;
    }
    &-nav {
        display: flex;
        justify-content: space-between;
        padding: 50px 0 132px;
    }
    &-icons {
        display: flex;
        padding-left: 68px;
        margin: 0 -10px;
    }
    &-icon {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        & svg {
            fill: $white;
        }
    }
    &-logo {
        &:hover {
            & svg path:not(.path-logo) {
                fill: $primary-color; 
            }
        }
            & svg path:not(.path-logo) {
                transition: all 0.5s;
            } 
    }
    &-icon {
        &:hover {
            & svg path:not(.path-logo) {
                fill: $primary-color;
            }
        }
        & svg path:not(.path-logo) {
            transition: all 0.5s;
        }
    }
}