.hero {
    background-color: #385D50;
        &-main {
            display: flex;
        }
        &-left {
            width: 40%;
        }
        &-title {
            padding-bottom: 117px;
        }
        &-right {
            display: flex;
            flex-direction: row-reverse;
            margin: -40px -90px 0px 0px;
            position: relative;
            z-index: 1;
        }
        &-background {
            position: absolute;
            z-index: 1;
        }
        & &-sofa {
            position: relative;
            z-index: 2;
            top: -72px;
            right: -6px;
        }
}