.option {
    @include media-down('1260px') {
        margin: 100px 0;
    } 
    &-general {
        display: flex;
        margin: 0 -22px;
        align-items: end;
        @include media-down('1028px') {
            flex-direction: column-reverse;
            margin: 0;
            align-items: center;
        } 
    }
    &-title {
        @include media-down('1028px') {
            text-align: center;
        } 
        @include media-down('747px') {
            font-size: 27px;
            line-height: 30px;
        }
    }
    &-right {
        flex: 1 1 40%;
        padding: 0 22px;
        @include media-down('1260px') {
            flex: 1 1 50%;
        } 
        @include media-down('1028px') {
            margin-bottom: 80px;;
        } 
        @include media-down('980px') {
            padding: 0;
        } 
    }
    &-text {
        @include media-down('1028px') {
            text-align: center;
            margin: 20px 0;
        } 
    }
    &-left {
        position: relative;
        z-index: 2;
        flex: 1 1 60%;
        min-height: 514px;
        padding: 0 22px;
        @include media-down('1260px') {
            flex: 1 1 50%;
        } 
        @include media-down('980px') {
            padding: 0;
            flex: 1 1 100%;
            margin-top: 70px;
        } 
    }
    &-background {
        position: absolute;
        z-index: -1;
        top: -55px;
        left: -110px;
        @include media-down('1370px') {
            left: -50px;
        } 
        @include media-down('1260px') {
            left: -20px;
        } 
        @include media-down('420px') {
            width: 50%;
            top: -30px;
            left: -10px;
        }
        @include media-down('520px') {
            top: -30px;
            left: -10px;
        }  
    }
    &-wrapper {
        position: relative;
        display: flex;
        max-width: 634px;
        @include media-down('520px') {
            flex-direction: column;
        } 
    }
    &-decor {
        &-primary {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            overflow: hidden;
            @include media-down('520px') {
                max-width: 80%;
            } 
        }
        &-last {
            position: absolute;
            z-index: 1;
            bottom: -50px;
            right: 0;
            @include media-down('520px') {
                bottom: 90px;
                right: -20px;            
            } 
            & img {
                @media (max-width: 1260px) and (min-width: 1028px) {
                    width: 80%;
                    margin-left: auto;
                }
                @include media-down('640px') {
                    width: 80%;
                    margin-left: auto;
                } 
                @include media-down('520px') {
                    width: 70%;
                    margin-left: auto;           
                } 
            }
        }
        &-secondary {
            padding-left: 33px;
            @include media-down('670px') {
                padding-left: 20px;
            }
            @include media-down('520px') {
                padding: 20px 0 0;
            } 
            & img {
                @include media-down('520px') {
                    max-width: 40%;
                } 
            }
        }
    }
    &-text {
        margin: 28px 0 31px;
    }
    &-colons {
        display: flex;
        flex-wrap: wrap;
        @include media-down('1028px') {
            margin-bottom: 14px;
        }
        @include media-down('590px') {
            flex-direction: column;
        } 
    }
    &-col {
        flex: 1 1 50%;
        display: flex;
        align-items: baseline;
        @include media-down('1028px') {
            justify-content: center;
        } 
        @include media-down('747px') {
            flex: 1 1 25%;
        }
        &-img {
            display: flex;
            padding-right: 13px;
        }
        &-text {
            margin: 0 41px 24px 0;
            position: relative;
            z-index: 1;
            padding-left: 18px;
            @include media-down('1028px') {
                margin: 0 41px 24px 13px;
            }
            &:after {
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                border: 3px solid $secondary-color;
                position: absolute;
                z-index: 1;
                top: 7px;
                left: 0px;
            }
        }
    }
    & .menu-btn {
        margin-top: 14px;
        @include media-down('1028px') {
            margin: 0;
            display: flex;
            justify-content: center;
        }
    } 
}