.option {
    &-general {
        display: flex;
        margin: 0 -22px;
    }
    &-right {
        flex: 1 1 40%;
        padding: 0 22px;
    }
    &-left {
        position: relative;
        z-index: 2;
        flex: 1 1 60%;
        min-height: 514px;
        padding: 0 22px;
    }
    &-background {
        position: absolute;
        z-index: -1;
        top: -55px;
        left: -110px;
    }
    &-wrapper {
        position: relative;
        display: flex;
        max-width: 634px;
    }
    &-decor {
        &-primary {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            overflow: hidden;
        }
        &-last {
            position: absolute;
            z-index: 1;
            bottom: -50px;
            right: 0;
        }
        &-secondary {
            padding-left: 33px;
        }
    }
    &-text p {
        margin: 28px 0 31px;
    }
    &-colons {
        display: flex;
        flex-wrap: wrap;
    }
    &-col {
        flex: 1 1 50%;
        display: flex;
        align-items: baseline;
        &-img {
            display: flex;
            padding-right: 13px;
        }
        &-text p {
            margin: 0 41px 24px 0;
        }
    }
    & .menu-btn {
        margin-top: 14px;
    }
}