.product {
    background-color: $background;
    margin: 130px 0 95px;
    @include media-down('780px') {
        margin-bottom: 45px;
    }
    &-cards {
        display: flex;
        margin: 0 -24px;
        @include media-down('920px') {
            margin: 0 -12px;
        } 
        @include media-down('780px') {
            flex-direction: column;
        }
    }
    &-card {
        width: 33.3%;
        padding: 0 24px;
        display: flex;
        @include media-down('920px') {
            padding: 0 12px;
        } 
        @include media-down('780px') {
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-bottom: 40px;
        }
        &:first-child {
            @include media-down('780px') {
                height: 63px;
            } 
        }
        &-center {
            margin-bottom: 0;
            .product-img {
                @include media-down('780px') {
                    margin: 0px 23px 40px -10px;
                } 
            }
            & .product-info {
                @include media-down('780px') {
                    margin-top: -40px;
                }
            }
        }
    }
    &-img {
        margin-right: 33px;
        position: relative;
        z-index: 1;
        align-self: flex-start;
        min-width: 20%;
        margin-top: -10px;
        &:after {
            content: '';
            border-radius: 10px;
            width: 80px;
            height: 80px;
            display: block;
            background-color: rgba($secondary-color, 0.3);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        & img {
            @include media-down('780px') {
                max-width: 70%;
                margin: auto;
            } 
        }
    }
    &-text {
        margin: 11px 0;
    }
    &-link {
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
        margin: 0; 
        color: $body;
        transition: background-color 0.5s steps(4, jump-end),color 0.5s cubic-bezier(0.1, 0.7, 1, 0.1);
        &:hover {
            color: $primary-color;
        }
    }
}