.testimonials-slider {
    background-color: $background;
    margin-bottom: 41px;
    position: relative;
    z-index: 2;
    &-person-text {
        @include media-down('760px') {
            font-size: 12px;
        }
    }
    &-title {
        text-align: center;
    }
    &-title {
        margin-bottom: 47px;
        @include media-down('860px') {
            margin-bottom: 20px;
            font-size: 30px;
        }
    }
    &-text p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 42px;
        padding: 0 180px;
        @include media-down('1100px') {
            padding: 0 90px;
        }
        @include media-down('860px') {
            margin-bottom: 20px;
        }
        @include media-down('760px') {
            font-size: 14px;
            line-height: 24px;
        }
        @include media-down('620px') {
            font-size: 13px;
            line-height: 22px;
        }
        @include media-down('540px') {
            padding: 0;
        }
    }
    &-img,
    &-person-title {
        margin-bottom: 4px;
    }
    &-img {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
    }
    .slids {
        text-align: center;
        &-img {
            width: 98px;
        }
        .slick {
            &-dots {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                @include media-down('1100px') {
                    margin-top: 20px;
                }
                & button {
                    background-color: $button;
                    order: 1;
                    width: 12px;
                    height: 12px;
                    font-size: 0;
                    border: none;
                    border-radius: 100px;
                    margin-right: 13px;
                    cursor: pointer;
                }
                & .slick-active button {
                    background-color: $secondary-color;
                }
            }
            &-prev,
            &-next {
                position: absolute;
                z-index: 1;
                top: 30px;
                font-size: 0;
                border: 0px;
                cursor: pointer;
                background-color: $background-hover;
                border-radius: 50%;
                width: 58px;
                height: 58px;
                overflow: hidden;
                transition: all 1s;
                @include media-down('540px') {
                    background: none;
                }
                & svg {
                    @include media-down('540px') {
                        display: none;
                    }
                }
                &:hover {
                    background-color: $secondary-color;
                    & svg path {
                        fill: $white;
                    }
                }
            }
            &-prev {
                left: 0;
            }
            &-next {
                right: 0;
                display: none;
            }
        }
    } 
}
