.testimonials-slider {
    background-color: $background;
    margin-bottom: 41px;
    position: relative;
    z-index: 2;
    &-title {
        text-align: center;
    }
    &-title {
        margin-bottom: 47px;
    }
    &-text p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 42px;
        padding: 0 180px;
    }
    &-img,
    &-person-title {
        margin-bottom: 4px;
    }
    &-img {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
    }
    .slids {
        text-align: center;
        &-img {
            width: 98px;
        }
        .slick {
            &-dots {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                & button {
                    background-color: $button;
                    order: 1;
                    width: 12px;
                    height: 12px;
                    font-size: 0;
                    border: none;
                    border-radius: 100px;
                    margin-right: 13px;
                    cursor: pointer;
                }
                & .slick-active button {
                    background-color: $secondary-color;
                }
            }
            &-prev,
            &-next {
                position: absolute;
                z-index: 1;
                top: 30px;
                font-size: 0;
                border: 0px;
                cursor: pointer;
                background-color: $background-hover;
                border-radius: 50%;
                width: 58px;
                height: 58px;
                overflow: hidden;
                transition: all 1s;
                &:hover {
                    background-color: $secondary-color;
                    & svg path {
                        fill: $white;
                    }
                }
            }
            &-prev {
                left: 0;
            }
            &-next {
                right: 0;
            }
        }
    } 
}
