$primary-color: #F9BF29;
$secondary-color: #385D50;
$background: #EFF2F1;
$white: #FFFF;
$text: #2F2F2F;
$border: #C4C4C4;
$body: #6A6A6A;
$black: #000000;
$background-hover: #E9E9E9;
$button: #D9D9D9;
$base-size: 14px;
